* {
    margin    : 0px;
    padding   : 0px;
    box-sizing: border-box;
}

body,
button,
input,
select,
textarea,
p {
    font-family: Roboto, sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: Poppins, sans-serif;
    font-weight: 600;
}
.bg_primary {
    background-color: #0086be;
}

.text_primary {
    color: #0086be;
}

.bg_light {
    background-color: #dce0ff36;
}


.nav_main {
    z-index         : 99;
    background-color: #0086be;
}

.nav_main .navbar-brand {
    width: 85px;
}

.nav_main .nav-item {
    text-align: center;
    width     : 100px;
}

.nav_main .nav-item:hover {
    background-color: #dce0ff36;
    border-radius   : 20px;
    position        : relative;
    transition      : all .5s;
    transform       : translateX(8px);

    box-shadow: 0 10px 20px rgb(0 0 0 / 32%);
}

/* .nav_main .nav-item:hover::after {
    content         : "";
    position        : absolute;
    height          : 2px;
    background-color: #fff;
    left            : 0;
    right           : 0;
    margin          : auto;
    bottom          : -5px;
    border-radius   : 17px;
    transition      : all 280ms ease-in-out;

} */




/*########### header section start ########### */
header.header {
    height: 100vh;
    background-image:
        linear-gradient(to right bottom,
            rgb(0 19 24 / 80%),
            rgb(34 101 195 / 80%)),
        url('../img/header_main.jpg');
        /* url('/asset/img/header_main.jpg'); */

    background-size    : cover;
    background-position: top;
    position           : relative;

    /* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */
}

.header_section .container {
    top   : 23%;
    left  : 0;
    right : 0;
    margin: auto;
}

.header_section .text-box .btn {
    background   : #0086be;
    border       : 0;
    padding      : 12px 34px;
    color        : #fff;
    transition   : 0.4s;
    border-radius: 50px;
}

.heading_header {

    filter     : blur(0px) !important;
    text-shadow: black 1px 1px 2px, rgb(155 207 230) 0px 0px 25px, rgb(2 185 247) 0px 0px 5px !important;

    font-size  : 50px;
    font-weight: 700;
    line-height: 1.1;
    margin     : 0 0 15px;
    font-family: 'Poppins', sans-serif;

}

footer .btn:link,
footer .btn:visited {
    text-decoration: none;
    padding: 10px 20px;
    display: flex;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
    width: 40px;
    place-items: center;
    align-items: center;
    justify-content: center;
    height: 40px;

}

.btn:hover {
    transform : translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn_hover_0 {
    transform       : unset !important;
    box-shadow      : unset !important;
    background-color: transparent;
}

.btn:active {
    transform : translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color           : #777;
    font-size       : 14px;
}

.header_section .text-box {
    position  : absolute;
    top       : 40%;
    max-width : 50%;
    margin    : auto;
    left      : 0;
    right     : 0;
    text-align: center;
}

.section_heading::after {
    background-color: #0086be;
    content         : "";
    position        : absolute;
    left            : 0;
    right           : 0;
    margin          : auto;
    width           : 100px;
    height          : 4px;
    bottom          : -15px;
    border-radius   : 17px;
}

#contact .form-control {
    box-shadow   : 0 0 6px 0px rgb(0 134 190 / 22%);
    border-radius: 20px;
}

.contact .info {
    background: #fff;
    width     : 100%;
}

#contact form {
    width     : 100% !important;
    background: #fff;
}
.price_section .btn,
#contact form button {
    background   : #0086be;
    border       : 0;
    padding      : 12px 34px;
    color        : #fff;
    transition   : 0.4s;
    border-radius: 50px;

}

#contact label {
    margin-top   : 15px;
    margin-bottom: 5px;
}

/*########### header section end ########### */
/*########### Testinoial section start ########### */

.testimonial_section {
    background-image:
        linear-gradient(to right bottom,
            rgb(0 19 24 / 80%),
            rgba(34, 101, 195, 0.584)),
        url('../img/testimonial.jpg');
    background-size      : 100% 100%;
    background-attachment: fixed;
}

.testi-wrap {
    position  : relative;
    height    : 529px;
    margin-top: -80px;
}

.client-single {
    margin-top        : 20px;
    text-align        : center;
    position          : absolute;
    -webkit-transition: all 1s ease;
    transition        : all 1s ease;
}

.client-info,
.client-comment {
    -webkit-transition: all 0.3s ease;
    transition        : all 0.3s ease;
}

.client-single.inactive .client-comment,
.client-single.inactive .client-info {
    display: none;
}

.client-single.inactive .client-comment,
.client-single.inactive .client-info {
    opacity   : 0;
    visibility: hidden;
}

.client-single.position-1 {
    -webkit-transform: scale(0.65);
    transform        : scale(0.65);
}

.client-single.position-2 {
    left: -40px;
    top : 105px;
}

.client-single.position-3 {
    left             : -60px;
    top              : 240px;
    -webkit-transform: scale(0.4) !important;
    transform        : scale(0.4) !important;
}

.client-single.position-4 {
    left: 55px;
    top : 380px;
}

.client-single.position-5 {
    top  : 30px;
    right: 55px;
}

.client-single.position-6 {
    top  : 225px;
    right: -40px;
}

.client-single.position-7 {
    top              : 400px;
    right            : 45px;
    -webkit-transform: scale(0.4) !important;
    transform        : scale(0.4) !important;
}

.client-single.active {
    top              : 6%;
    left             : 50%;
    -webkit-transform: translateX(-50%);
    transform        : translateX(-50%);
    z-index          : 10;
    width            : 70%;
}

.client-single.active .client-comment,
.client-single.active .client-info {
    -webkit-transition-delay: 0.6s;
    transition-delay        : 0.6s;
}

.client-single:not(.active) {
    -webkit-transform: scale(0.55);
    transform        : scale(0.55);
    z-index          : 99;
}

.client-single.active .client-img {
    width   : 160px;
    height  : 160px;
    margin  : 0 auto 24px;
    position: relative;
}

.client-single.active .client-img:before {
    border-radius   : 100%;
    content         : "";
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9d5bfe), to(#3890fe));
    background-image: linear-gradient(180deg, #9d5bfe 0%, #3890fe 100%);
    padding         : 5px;
    width           : 160px;
    height          : 160px;
    top             : -4px;
    left            : 0px;
    position        : absolute;
    z-index         : -1;
}

.client-single .client-img img {
    width        : 150px;
    border-radius: 50%;
    border       : 8px solid #d1e9ff;
    cursor       : pointer;
}

.client-single.active .client-img img {
    max-width: 160px;
    margin   : 0 auto 24px;
    border   : 0;
}

.client-comment {
    padding: 0 30px;
}

.client-comment h3 {
    font-size  : 22px;
    line-height: 32px;
    color      : #fff;
}

.client-comment span i {
    font-size: 60px;
    color    : #0086be;
    margin   : 40px 0 24px;
    display  : inline-block;
}

.client-info h3 {
    color        : #fff;
    font-weight  : 600;
    margin-bottom: 4px;
}

.client-info {
    padding-bottom: 20px;
}

.client-info p a {
    color          : #ffffff;
    text-decoration: none;
    cursor         : pointer;
}


/*########### Testinoial section end ########### */


footer {
    background-color: #0086be;
}

.footer_bottom a,
footer a {
    text-decoration: none;
    cursor         : pointer;
}

.footer_logo img {
    width: 120px;
}

.how-it-works .row .box {
    border       : 1px solid #0086be;
    box-shadow   : 0 0 6px 0px rgb(0 134 190 / 30%);
    border-radius: 6px;
}

.work_video {
    width: 100%;

}

.work_video video {
    width        : 100%;
    height       : auto;
    border-radius: 20px;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform        : translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform        : translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform        : translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform        : translateX(calc(-250px * 7));
    }
}

.slider {
    background   : pr;
    /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
    height       : 100px;
    margin       : auto;
    overflow     : hidden;
    position     : relative;
    max-width        : 960px;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content   : "";
    height    : 100px;
    position  : absolute;
    width     : 200px;
    z-index   : 2;
}

.slider::after {
    right            : 0;
    top              : 0;
    -webkit-transform: rotateZ(180deg);
    transform        : rotateZ(180deg);
}

.slider::before {
    left: 0;
    top : 0;
}

.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation        : scroll 40s linear infinite;
    display          : flex;
    width            : calc(250px * 14);
}

.slider .slide {
    height: 100px;
    width : 250px;
}

/* price table */
.price_section .row .card{
    box-shadow: 0 0 6px 0px rgb(0 134 190 / 30%);
    border-radius: 0.7rem !important;
}


  .price_section .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
  }
  
  .price_section hr {
    margin: 1.5rem 0;
  }
  
  .price_section .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .price_section .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
  .price_section .card-price .period {
    font-size: 0.8rem;
  }
  
  .price_section ul li {
    margin-bottom: 1rem;
  }
  
  .price_section .text-muted {
    opacity: 0.7;
  }
  
 .section_faq .container{
    border       : 1px solid #0086be;
    box-shadow   : 0 0 6px 0px rgb(0 134 190 / 30%);
    border-radius: 12px;
    overflow: hidden;
 }
 .section_faq .accordion-button:focus {
    box-shadow: unset !important;
}
.section_faq .accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #0086be;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);

}
.accordion-button:not(.collapsed)::after {
   filter: brightness(0) !important;
}

/*########### benifits  start###########*/
.section_our_solution .row {
    align-items: center;
  }
  
  .our_solution_category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .our_solution_category .solution_cards_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .solution_cards_box .solution_card {
    flex: 0 50%;
    background: #fff;
    box-shadow: 0 0 6px 0px rgb(0 134 190 / 30%);
    border-radius: 15px;
    margin: 8px;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 265px;
    transition: 0.7s;
  }
  
  .solution_cards_box .solution_card:hover {
    background: #0086be;
    color: #fff;
    transform: scale(1.0.1);
    z-index: 9;
  }
  
  .solution_cards_box .solution_card:hover::before {
    background: rgb(85 108 214 / 10%);
  }
  
  .solution_cards_box .solution_card:hover .solu_title h3,
  .solution_cards_box .solution_card:hover .solu_description p {
    color: #fff;
  }
  
  .solution_cards_box .solution_card:before {
    content: "";
    position: absolute;
    background: rgb(85 108 214 / 5%);
    width: 170px;
    height: 400px;
    z-index: -1;
    transform: rotate(42deg);
    right: -56px;
    top: -23px;
    border-radius: 35px;
  }
  
  .solution_cards_box .solution_card:hover .solu_description button {
    background: #fff !important;
    color: #0086be;
  }
  
  .solution_card .so_top_icon {
  }
  
  .solution_card .solu_title h3 {
    /* color: #212121;
    font-size: 1.3rem; */
    margin-top: 13px;
    margin-bottom: 13px;
  }
  
  .solution_card .solu_description p {
    font-size: 15px;
    margin-bottom: 15px;
  }
  
  .solution_card .solu_description button {
    border: 0;
    border-radius: 15px;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
  }
  
  .our_solution_content h1 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
  .our_solution_content p {
  }
  
  .hover_color_bubble {
    position: absolute;
    background: rgb(54 81 207 / 15%);
    width: 100rem;
    height: 100rem;
    left: 0;
    right: 0;
    z-index: -1;
    top: 16rem;
    border-radius: 50%;
    transform: rotate(-36deg);
    left: -18rem;
    transition: 0.7s;
  }
  
  .solution_cards_box .solution_card:hover .hover_color_bubble {
    top: 0rem;
  }
  
  .solution_cards_box .solution_card .so_top_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .solution_cards_box .solution_card .so_top_icon img {
    width: 40px;
    height: 50px;
    object-fit: contain;
  }
  
  /*start media query*/
  @media screen and (min-width: 320px) {
    
    .our_solution_category {
      width: 100%;
      margin: 0 auto;
    }
  
    .our_solution_category .solution_cards_box {
      flex: auto;
    }
  }
  @media only screen and (min-width: 768px) {
    .our_solution_category .solution_cards_box {
      flex: 1;
    }
  }
  @media only screen and (min-width: 1024px) {
    .sol_card_top_3 {
      position: relative;
    }
    .our_solution_category {
      margin: 0 auto;
    }
  }
  
/*########### benifits end###########*/


  @media (min-width: 992px) {
    .price_section .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
  
    .price_section .card:hover .btn {
      opacity: 1;
    }
  }

@media only screen and (min-width: 300px) and (max-width: 1185px) {
    .header_section .text-box {
        max-width: 100%;
    }
}

@media only screen and (min-width: 300px) and (max-width: 991px) {
    .heading_header {
        font-size: 20px !important;
    }

    header.header {
        height: unset !important;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #testimonial-area .section-heading h2 {
        font-size: 30px;
    }

    .client-comment h3 {
        font-size  : 18px;
        line-height: 28px;
    }

    .client-single.active {
        width: 60%;
    }

    .client-single:not(.active) {
        -webkit-transform: scale(0.55);
        transform        : scale(0.35);
    }

    .client-single.position-3,
    .client-single.position-7 {
        -webkit-transform: scale(0.3) !important;
        transform        : scale(0.3) !important;
    }

    .client-single.active .client-img img {
        max-width: 100px;
    }

    .client-single.active .client-img::before {
        padding: 5px;
        width  : 108px;
        height : 108px;
        top    : -4px;
        left   : 6px;
    }

    .client-single.active .client-img {
        width : 120px;
        height: 100px;
    }

    .testi-wrap {
        height: 580px;
    }

    #testimonial-area {
        padding: 100px 0 0;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    #testimonial-area .section-heading h2 {
        font-size: 30px;
    }

    .client-comment h3 {
        font-size  : 14px;
        line-height: 26px;
    }

    .client-single.active {
        width: 60%;
    }

    .client-comment span i {
        font-size: 40px;
    }

    .client-single:not(.active) {
        -webkit-transform: scale(0.55);
        transform        : scale(0.35);
    }

    .client-single.position-5,
    .client-single.position-7 {
        right: 0;
    }

    .client-single.position-4 {
        left: 0;
    }

    .client-single.position-3,
    .client-single.position-7 {
        -webkit-transform: scale(0.3) !important;
        transform        : scale(0.3) !important;
    }

    .client-single.active .client-img img {
        max-width: 80px;
    }

    .client-single.active .client-img::before {
        padding: 5px;
        width  : 88px;
        height : 88px;
        top    : -4px;
        left   : 16px;
    }

    .client-single.active .client-img {
        width : 120px;
        height: 100px;
    }

    .testi-wrap {
        height: 630px;
    }
    .section_heading::after {
        width: 80px;
        height: 3px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 493px) {
    .section_heading::after {
        width: 70px;
        height: 2px;
    }
    .contact_footer {
      width: 71% ;
      padding-left: 35px;
    }
    .slider .slide {
        width: 121px;
    }
    .slider .slide img{
        height: auto !important;
        width: 121px !important;
    }
}
@media only screen and (min-width: 360px) and (max-width: 479px) {
    #testimonial-area .section-heading h2 {
        font-size  : 30px;
        line-height: 40px;
    }

    .client-comment h3 {
        font-size  : 14px;
        line-height: 26px;
    }

    .client-single.active {
        width: 80%;
    }

    .client-comment span i {
        font-size: 40px;
    }

    .client-single:not(.active) {
        -webkit-transform: scale(0.25);
        transform        : scale(0.25);
    }

    .client-single.position-5,
    .client-single.position-7,
    .client-single.position-6 {
        right: -70px;
    }

    .client-single.position-4 {
        left: -60px;
    }

    .client-single.position-3 {
        left: -75px;
    }

    .client-single.position-3,
    .client-single.position-7 {
        -webkit-transform: scale(0.25) !important;
        transform        : scale(0.25) !important;
    }

    .client-single.active .client-img img {
        max-width: 80px;
    }

    .client-single.active .client-img::before {
        padding: 5px;
        width  : 88px;
        height : 88px;
        top    : -4px;
        left   : 16px;
    }

    .client-single.active .client-img {
        width : 120px;
        height: 100px;
    }

    .testi-wrap {
        height: 600px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 359px) {
    #testimonial-area .section-heading h2 {
        font-size: 30px;
    }

    .client-comment h3 {
        font-size  : 14px;
        line-height: 26px;
    }

    .client-single.active {
        width: 80%;
    }

    .client-comment span i {
        font-size: 40px;
    }

    .client-single:not(.active) {
        -webkit-transform: scale(0.25);
        transform        : scale(0.25);
    }

    .client-single.position-5,
    .client-single.position-7,
    .client-single.position-6 {
        right: -70px;
    }

    .client-single.position-4 {
        left: -60px;
    }

    .client-single.position-3 {
        left: -75px;
    }

    .client-single.position-3,
    .client-single.position-7 {
        -webkit-transform: scale(0.25) !important;
        transform        : scale(0.25) !important;
    }

    .client-single.active .client-img img {
        max-width: 80px;
    }

    .client-single.active .client-img::before {
        padding: 5px;
        width  : 88px;
        height : 88px;
        top    : -4px;
        left   : 16px;
    }

    .client-single.active .client-img {
        width : 120px;
        height: 100px;
    }

    .testi-wrap {
        height: 550px;
    }
}
